<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="xarm_device">
  <xacro:macro name="xarm_device" params="prefix:='' namespace:='xarm' limited:='false' effort_control:='false' 
    velocity_control:='false' add_gripper:='false' add_vacuum_gripper:='false' dof:=7"> 
    
    <xacro:include filename="$(find xarm_description)/urdf/xarm/xarm_robot_macro.xacro" />
    <xacro:xarm_robot prefix="${prefix}" namespace="${namespace}" limited="${limited}" 
      effort_control="${effort_control}" velocity_control="${velocity_control}" dof="${dof}"/>
    
    <xacro:if value="${add_gripper}">
      <xacro:include filename="$(find xarm_description)/urdf/gripper/xarm_gripper_model.xacro" />
      <xacro:load_gripper attach_to="${prefix}link_eef" effort_control="${effort_control}" velocity_control="${velocity_control}" />
    </xacro:if>

    <xacro:if value="${add_vacuum_gripper}">
      <xacro:include filename="$(find xarm_description)/urdf/vacuum_gripper/xarm_vacuum_gripper.urdf.xacro" />
      <xacro:xarm_vacuum_gripper_urdf attach_to="${prefix}link_eef" effort_control="${effort_control}" velocity_control="${velocity_control}" />
    </xacro:if>
  </xacro:macro>
</robot>