<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="xarm7_ros2_control" params="prefix
    velocity_control:='false'
    ros2_control_plugin:='xarm_control/XArmHW'
    hw_ns:='xarm'
    joint1_lower_limit:=${-2.0*pi}  joint1_upper_limit:=${2.0*pi}
    joint2_lower_limit:=${-2.059}  joint2_upper_limit:=${2.0944}
    joint3_lower_limit:=${-2.0*pi}  joint3_upper_limit:=${2.0*pi}
    joint4_lower_limit:=${-0.19198}  joint4_upper_limit:=${3.927}
    joint5_lower_limit:=${-2.0*pi}  joint5_upper_limit:=${2.0*pi}
    joint6_lower_limit:=${-1.69297}  joint6_upper_limit:=${pi}
    joint7_lower_limit:=${-2.0*pi}  joint7_upper_limit:=${2.0*pi}">
    <ros2_control name="XArmSystem" type="system">
      <hardware>
        <plugin>${ros2_control_plugin}</plugin>
        <param name="hw_ns">${prefix}${hw_ns}</param>
        <param name="velocity_control">${velocity_control}</param>
      </hardware>
      <joint name="${prefix}joint1">
        <command_interface name="position">
          <param name="min">${joint1_lower_limit}</param>
          <param name="max">${joint1_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
      <joint name="${prefix}joint2">
        <command_interface name="position">
          <param name="min">${joint2_lower_limit}</param>
          <param name="max">${joint2_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
      <joint name="${prefix}joint3">
        <command_interface name="position">
          <param name="min">${joint3_lower_limit}</param>
          <param name="max">${joint3_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
      <joint name="${prefix}joint4">
        <command_interface name="position">
          <param name="min">${joint4_lower_limit}</param>
          <param name="max">${joint4_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
      <joint name="${prefix}joint5">
        <command_interface name="position">
          <param name="min">${joint5_lower_limit}</param>
          <param name="max">${joint5_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
      <joint name="${prefix}joint6">
        <command_interface name="position">
          <param name="min">${joint6_lower_limit}</param>
          <param name="max">${joint6_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
      <joint name="${prefix}joint7">
        <command_interface name="position">
          <param name="min">${joint7_lower_limit}</param>
          <param name="max">${joint7_lower_limit}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <!-- <state_interface name="effort"/> -->
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>