<launch>
  <arg name="robot_ip" description="User must properly specify robot ip address"/>
	<arg name="report_type" default="normal" />
	<arg name="hw_ns" default="xarm" />

  <include file="$(find-pkg-share xarm_api)/launch/xarm_driver.launch">
    <arg name="robot_ip" value="$(var robot_ip)" />
    <arg name="report_type" value="$(var report_type)" />
    <arg name="hw_ns" value="$(var hw_ns)" />
    <arg name="dof" value="7" />
  </include>
</launch>