<launch>
  <arg name="robot_ip" description="IP address by which the robot can be reached."/>
	<arg name="report_type" default="normal" description="tcp report type, default is normal, normal/rich/dev optional" />
	<arg name="dof" default="7" description="Degree of freedom of manipulator, defalut is 7" />
  <arg name="hw_ns" default="xarm" description="The namespace of xarm_driver, default is xarm" />

  <node name="xarm_driver" pkg="xarm_api" exec="xarm_driver_node" namespace="$(var hw_ns)" output="screen">
    <!-- <param from="$(find-pkg-share xarm_api)/config/xarm$(var dof)_params.yaml"/> -->
    <param from="$(find-pkg-share xarm_api)/config/xarm_params.yaml"/>
    <param name="xarm_robot_ip" value="$(var robot_ip)"/>
    <param name="xarm_report_type" value="$(var report_type)"/>
    <param name="DOF" value="$(var dof)"/>
  </node>
</launch>