<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="dual_xarm6_srdf">
  <!-- parameters -->
  <xacro:arg name="add_gripper" default="false"/>
  <xacro:arg name="prefix_1" default="L_" />
  <xacro:arg name="prefix_2" default="R_" />

  <xacro:include filename="$(find xarm_moveit_config)/srdf/_xarm6_macro.srdf.xacro" />
  <xacro:xarm6_macro_srdf prefix="$(arg prefix_1)" add_gripper="$(arg add_gripper)" />
  <xacro:xarm6_macro_srdf prefix="$(arg prefix_2)" add_gripper="$(arg add_gripper)" />

</robot>