<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="xarm7_srdf">
  <!-- parameters -->
  <xacro:arg name="add_gripper" default="false"/>
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find xarm_moveit_config)/srdf/_xarm7_macro.srdf.xacro" />
  <xacro:xarm7_macro_srdf prefix="$(arg prefix)" add_gripper="$(arg add_gripper)" />

</robot>